.wrapper {
    padding-left: 66px;
    margin: 0px auto;
    position: relative;
    transition-duration: 150ms;
    transition-timing-function: linear;
    transition-property: grid, max-width, height;
    transition-delay: 0ms, 0ms, 0ms;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    align-items: end;
    width: 100%;
    max-width: calc(76.25px + 56.25vh);
}

.wrapper-icon {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.tippy-wrapper {
    width: 280px;
    height: 284px;
}

.menu-wrapper {
    padding: 8px 0px;
    margin: 0px;
    min-width: 200px;
    list-style: none;
    box-sizing: border-box;
    border-radius: 8px;
    user-select: none;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-item {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    padding: 11px 16px;
    margin: 0px 3px 0px 4px;
    box-sizing: border-box;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
}

.tippy-icon {
    width: 24px;
    height: 24px;
    font-size: 20px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(22, 24, 35);
}

.circle-icon {
    border-radius: 50%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.arrow-icon {
    justify-content: center;
    padding: 0px 16px;
    margin: 0px 4px;
}

.tippy-text {
    color: rgb(22, 24, 35);
    font-weight: 600;
    font-size: 16px;
    display: inline-block;
    height: 24px;
    line-height: 24px;
    margin-inline: 8px;
    white-space: nowrap;
}
