.wrapper {
    width: 240px;
}

.scrollable {
    overflow: hidden;
    overscroll-behavior-y: contain;
    perspective: 1px;
    transform-style: preserve-3d;
    perspective-origin: right top;
    top: 60px;
    bottom: 0px;
    width: 240px;
    background: rgb(255, 255, 255);
    position: fixed;

    &:hover {
        overflow-y: auto;
        // transition: opacity ease-in-out 200ms;
    }
}

.content {
    padding: 20px 0px 26px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
}

.footer {
    position: relative;
    padding-top: 16px;
    padding-left: 16px;
}

.header,
.header-last {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 22px;
    margin-top: 0px;
    cursor: pointer;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 700;
}

.header-last {
    margin-bottom: 0px;
}

.copyright {
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: inline-block;
    margin-right: 6px;
    margin-top: 5px;
}
